<span id="template-text-content-{{ content.getId() }}" class="template-text-content">
    
    {% if canEdit %}
        <span class="close">
            <i class="fa fa-pencil edit-template-text-content-btn"
               data-content-id="{{ content.getId() }}"></i>
        </span>
    {% endif %}
    {{ content.getContent()|raw }}
</span>

{% block javascripts %}
    <script type="text/javascript">
        var type = '{{ type }}';
        
        $('.template-text-content').on('click', '.edit-template-text-content-btn', function () {
            var contentId = $(this).data('content-id');
            $.ajax({
                url: Routing.generate(
                    'formalibre_claroline_com_theme_template_text_edit_form', 
                    {type: type, content: contentId}
                ),
                type: 'GET',
                success: function (datas) {
                    $('#template-text-content-' + contentId).html(datas);
                }
            });
        });
        
        $('.template-text-content').on('click', '.cancel-content-edition-btn', function () {
            window.location = Routing.generate('claro_get_content_by_type', {type: type});
        });
    </script>
{% endblock %}