.invoice-topbar-navbar-center-title > a {
    color: #ffffff;
}

.invoice-topbar-navbar-center-list > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.invoice-topbar-navbar-center-title-underline {
    border-style: solid;
    border-width: 2px;
    border-color: #343b41;
    position: relative;
    top: -8px;
}

.invoice-topbar-navbar-center-selected {
    border-color: #ffffff;
}

.invoice-navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
}

.invoice-navbar-inverse {
    background-color: #343b41;
    border-color: #343b41;
}

#invoice-topbar-navbar-center .nav .open > a,
#invoice-topbar-navbar-center .nav .open > a:hover,
#invoice-topbar-navbar-center .nav .open > a:focus,
#invoice-topbar-navbar-center .nav > li > a, 
#invoice-topbar-navbar-center .nav > li > a:hover,
#invoice-topbar-navbar-center .nav > li > a:focus {
    background-color: #343b41;
}

#invoice-topbar-login-btn, #invoice-topbar-register-btn {
    color:  #ffffff;
    background-color: #277ec1;
    border-style: solid;
    border-width: 3px;
    border-color: #0654a6;
/*box-shadow: 0px 0px 0px 4px #0654a6;*/
}

.invoice-topbar-navbar-center-dropdown-menu {
    background-color: #CECECE;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*.invoice-topbar-navbar-center-dropdown-item > a:hover {
    color: #848383;
}*/

#invoice-topbar-navbar-right > li > a {
    color:  #ffffff;
}

#invoice-topbar-navbar-right .caret {
    border-top-color:  #ffffff;
    border-bottom-color:  #ffffff;
}

#invoice_top_bar .navbar-toggle {
    background-color: #5e6870;
    color:  #ffffff;
}

#invoice-topbar-navbar-right .dropdown-menu {
    background-color: #CECECE;
}