.banner-row {
    background-color: #09273C;
}

.banner-row img {
    width: 100%;
}

.first-row, .first-row-separator {
    background-color: #09273C;
}

.second-row, .second-row-separator {
    background-color: #717171;
}

.third-row, .third-row-separator {
    background-color: #228171;
}

.forth-row, .forth-row-separator {
    background-color: #FFFFFF
}

.first-row-text-title {
    color: #A2C415;
}

.second-row-text-title {
    color: #A2C415;
}

.third-row-text-title {
    color: #A2C415
}

.first-row-text-content {
    color: #FFFFFF;
}

.second-row-text-content {
    color: #FFFFFF;
}

.third-row-text-content {
    color: #FFFFFF;
}

.third-row-button {
    font-size: 200%;
    color:  #FFFFFF;
    background-color: #59B0F2;
    border-style: solid;
    border-width: 3px;
    border-color: #0654A6;
}