.banner-row {
    background-color: #CAEBFA;
}

.first-row, .first-row-separator {
    background-color: #CAEBFA;
}

.second-row, .second-row-separator {
    background-color: #10323E;
}

.third-row, .third-row-separator {
    background-color: #CAEBFA;
}

.first-row-text-title {
    color: #A2C415;
}

.second-row-text-title {
    color: #A2C415;
}

.first-row-text-content {
    color: #848486;
}

.second-row-text-content {
    color: #FFFFFF;
}

.third-row-button {
    font-size: 200%;
    color:  #FFFFFF;
    background-color: #59B0F2;
    border-style: solid;
    border-width: 3px;
    border-color: #0654A6;
}